
.app__wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/320.png");
  height: 720px;
  color: white;
  display: flex;
  position: relative;

}
.app__btn-wrapper{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -57px;

    text-align: center;

  &-btn {
    padding: 13px 29px;
    font-size: 16px;
    width: fit-content;
    &_desc {
      margin-top: 19px;
      color: #848E97;
      font-size: 14px;
    }
  }

}
.app__wrapper-info {
  font-family: $mont-font;
  margin: 0 auto;
  text-align: center;
  &__header {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
  }
  &__desc {
    margin-top: 19px;
    font-size: 18px;
    color: #8D81AC;
  }
  &__platform{
    color: #848E97;
    margin-top: 19px;
    font-size: 14px;
  }
}




@media (min-width: 481px){
  .app__wrapper {
    background-image: url("../img/720.png");
    height: 720px;
    &__btn-wrapper-btn {
      padding: 23px 61px;
      font-size: 21px;
      bottom: -34px;
    }
    &-info {
      &__header {
        margin-top: 70px;
        font-size: 72px;
        font-weight: 700;
      }

      &__desc {
        margin-top: 19px;
        font-size: 24px;
        color: #8D81AC;
      }

      &__platform {
        margin-top: 19px;
        font-size: 16px;
      }
    }
  }
}
@media (min-width: 992px) {
  .app__wrapper {
    background-image: url("../img/1200.png");
    height: 800px;
    &-info {
      &__header {
        margin-top: 115px;
        font-size: 82px;
        font-weight: 700;
      }

      &__desc {
        margin-top: 19px;
        font-size: 30px;
        color: #8D81AC;
      }

      &__platform {
        margin-top: 19px;
        font-size: 16px;
      }
    }
  }
}

