

.nav-toggle {
  margin-right: 15px;
  width: 30px;
  padding: 15px 0;
  z-index: 1;
  right: 5px;
  position: relative;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;

  &__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: background .2s linear;

    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      z-index: 1;
      transition: transform .2s linear;
    }
    &:before {
      top: -8px;
      width: 50%;
    }
    &:after {
      bottom: -8px;
    }
  }
  &.active &__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-3px);
    width: 100%;
  }
  &.active &__item {
    background: none;

  }
  &.active &__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate(-2px);

  }



}