.editor {
  text-align: center;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 70px;
}

.editor__header {
  margin-top: 129px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #635C73;
}

.editor__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.editor__stats {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.editor__stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  margin-top: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 26px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
}

.editor__stats-item-name-text {
  padding: 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.editor__stats-counter {
  font-size: 16px;
  font-weight: bold;
  padding: 0 4px;
  line-height: 28px;
  background-color: #ffffff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 2px solid #d5d5d5;
}

.editor .star {
  height: 18px;
}
