
.fork__wrapper {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/reviewsBG/720.png");
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  &-header {
    margin-top: 108px;
    margin-bottom: 88px;
    font-weight: 700;
    font-size: 36px;
  }
  &-reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &_item {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 166px;
      width: 90%;
      font-family: $lato-font;
      font-weight: 700;
      font-style: italic;
    }
  }
  &-desc {
    padding-top: 70px;
    margin: 0 auto;
    font-family: $lato-font;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 20px;
    width: 90%;
    color: #A291A5;

  }
  &:after {
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

}

.fork__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &:after {
    content: "";
    border-bottom: 2px solid #645766;
    width: 90%;
    display: inline-flex;
    margin: 0 auto;
  }
}




@media (min-Width: 481px) and (max-width: 992px) {
  .fork__container {
    width: 100%
  }
  .fork__wrapper-reviews {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    &_item {
      width: 35%;
      margin-right: 20px;
    }
  }
  }


@media (min-Width: 993px) {
  .fork__wrapper-reviews_item {
    width: 30%;
  }
}



