.get {
  padding-top: 70px;
  margin: 0 auto;

  &__header,
  &__image-data-header {
    margin: 0 auto;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #8D81AC;
  }
  &__item:not(:last-child){
    margin-bottom: 38px;
  }
  &__item-wrapper {
    margin-top: 36px;
  }
  &__item-heading {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
  }
  &__item-desc {
    font-size: 14px;
    line-height: 21px;
    font-family: $lato-font;
    color: #848E97;
  }

}

@media (min-width: 991px)  {
  .get {
    padding-bottom: 50px;
    background: #F4F4F4;
    &__header {
      display: none;
    }
    &__data {
      display: flex;
    }

    &__item-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-left: 20px;
    }
    &__item-wrapper,
    &__get__image-data {
      width: 50%;
    }
    &__item {
      display: flex;
      text-align: left;
    }
    &__item-icon {

    }
    &__item-info {
      width: 84%;
      margin-left: auto;
      margin-right: 0;
      text-align: left;
    }
    &__item-heading {
      margin-top: 0;
      font-size: 16px;
    }
    &__image-data-header {
      margin-top: 30px;
    }
    &__item:nth-child(3) &__item-icon {
      padding-left: 15px;
      padding-right: 36px;
    }
    &__item:nth-child(2) &__item-icon {
      padding-right: 21px;
    }
    &__item:nth-child(4) &__item-icon {
      padding-left: 11px;
      padding-right: 30px;
    }
    &__img {
      margin-top: 20px;
      margin-left: 4px;
      width: 100%;
      object-fit: cover;
      object-position: -3% 0;
    }
  }


}




@media (min-width: 768px) and (max-width: 990px) {
  .container {
    width: 90%;
  }
  .get {
    background: none;
    &__header {
      display: block;
      font-size: 42px;
      margin-bottom: 56px;
    }
    &__image-data-header {
      display: none;
    }
    &__item-wrapper {
      width: 90vw;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      display: flex;
      text-align: left;
    }

    &__item-icon {

    }
    &__item-info {
      width: 84%;
      margin-left: auto;
      margin-right: 0;
      text-align: left;
    }
    &__item-heading {
      margin-top: 0;
    }

    &__item:nth-child(3) &__item-icon {
      padding-left: 15px;
      padding-right: 36px;
    }
    &__item:nth-child(2) &__item-icon {
      padding-right: 21px;
    }
    &__item:nth-child(4) &__item-icon {
      padding-left: 11px;
      padding-right: 30px;
    }
    &__img {
      margin-top: 69px;
      margin-left: 4px;
      width: 100%;
      object-fit: cover;
      object-position: -3% 0;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px ) {
  .get {
    &__image-data-header {
      display: none;
    }
    &__img {
      object-fit: cover;
      object-position: -3% 0;
      width: 100%;
    }

    &__item-wrapper {

    }
  }
}