

  .header {
    background-color: #27262A;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      height: fit-content;
      margin: 0 auto;
      width: 95%;
      & > * {
        height: fit-content;
        align-self: center;
      }

      &-logo-text {
        display: none;
      }

      &-button_buy {
        padding: 10px 15px;


        &:first-child {
          margin-right: 0.4em;
        }
      }

      &-menu {
        display: none;
        width: 90%;
        background-color: #333333;
        flex-direction: column;
        position: absolute;
        right: 5%;
        top: 103px;
        font-size: 26px;
        z-index: 1;

          &-item {
            padding: 29px 0px 21px 29px;
            color: #fff;
            border-bottom: 1px solid #3B3B3B;

            &:hover {
              color: #8d81ac;
              border-left: 3px solid #8d81ac;
              line-height: 10px;
            }
          }
        }
      &-menu.active {
        display: flex;
      }
      }
    

    }
  .container {
    width: 90%;
  }


  @media (min-Width: 768px) {
    .container {
      width: 100%;
    }
    .nav-toggle {
      display: none;
    }
    .header {
      color: #8D81AC;
      height: 118px;
      position: relative;
      &__wrapper {
        &-menu {
          all:unset;
          width: 60%;
          display: flex;
          justify-content: space-between;
          position: absolute;
          bottom: 18px;
          left: 20%;

          &-item {
            all:unset;

            }
        }
        &-button_buy {
          padding: 11px 35px;
        }
        &-logo {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        &-logo-text {
          display: block;
          margin-left: 17px;
          font-size: 24px;
          text-transform: uppercase;
        }
        &-logo:hover,
        &-button-buy:hover,
        &-menu-item:hover{
          cursor: pointer;
          color:#fff;
          border: none;
        }
        &-logo:hover,
        &-menu-item:hover{
          color:#fff;
        }

      }

    }
  }
  @media (min-Width: 1200px) {
    .header {
      color: #8D81AC;
      height: 118px;
      background-color: #000;

      &__wrapper {
        &-menu {
          all: unset;
          display: flex;
          align-items: center;

          &-item {
            all: unset;
            &:not(:first-child) {
              margin-left: 48px;
            }
          }


        }
        &-links {
          display: flex;
          flex-direction: row-reverse;


        &>*:first-child {
          margin-left: 48px;
        }

        }

      }
    }
  }

