
.pricing {
padding-right: 10px;
padding-left: 10px;
padding-bottom: 20px;
height: fit-content;
text-align: center;
background-image: url("../img/pricing_BG.jpg");
&__heading {
margin-bottom: 30px;
padding-top: 98px;
font-weight: bold;
font-size: 28px;
line-height: 42px;
color: #fff;
}

&__item {
display: flex;
justify-content: space-between;
margin: 0 auto;
flex-direction: column;
width: 257px;
height: 457px;
background-color: rgba(255, 255, 255, 0.11);
color: #fff;
}
&__item:hover {
cursor: pointer;
&__item-heading {
background-color: rgba(0, 0, 0, 0.11);
}
background-color: rgba(70, 48, 72, 0.84);
}
&__item:not(:last-child){
margin-bottom: 18px;
}
&__item-heading {
padding: 36px 0px;
background-color: rgba(255, 255, 255, 0.06);
text-transform: uppercase;
font-size: 24px;
line-height: 24px;
}
&__item.active {
transform: scale(1.2);
transform-origin: center right;
background-color: rgba(70, 48, 72, 0.84);

}
&__item.active &__item-heading {
background-color: rgba(0, 0, 0, 0.11);
}
&__item-price {
font-size: 60px;
line-height: 90px;
}
&__item-time {
font-size: 14px;
line-height: 16px;
margin-bottom: 14px;
text-transform: uppercase;
}
&__item-time:after {
margin: 30px auto;
display: block;
content: '';
border-bottom: 5px solid #8D81AC;
width: 60px;
}
&__item-desc {
margin: 0 auto;
width: 210px;
font-size: 16px;
}
&__purchase {
margin-bottom: 18px;
align-self: center;
padding: 15px 38px;
border-radius: 50px;
border: none;
background-color: rgba(255, 255, 255, 0.15);
font-size: 15px;
text-transform: uppercase;
color: #fff;
}
}

@media (min-width: 993px) {
.pricing {
padding-bottom: 100px;
&__heading {
font-size: 48px;
}
&__wrapper {
margin-top: 112px;
display: flex;
justify-content: space-between;
flex-direction: row;
}

&__item.active {
transform-origin: center center;
}
}
}


@media (min-width: 481px) and (max-width: 992px) {
.pricing {
&__wrapper {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
max-width: 540px;
}

&__item:not(:first-child & :nth-child(2)) {
margin-bottom: 70px;
}
}
}

@media (min-width: 320px) and (max-width: 480px) {
.pricing {
&__item.active {
transform: scale(1.2);
transform-origin: center top;
background-color: rgba(70, 48, 72, 0.84);
margin-bottom: 110px;

}
}
}
