@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "./fonts";
@import "./normalise";
@import "./reset";
@import "./vars";
@import "./header";
@import "./burger";
@import "./fork";
@import "./get";
@import "./pricing";
@import "./editor";
@import "./app";

.btn {
  border: none;
  border-radius: 40px;
  background-color: #8D81AC;
  color: #fff;
  font-weight: bold;
}
.btn:hover{
  color: #8d81ac;
  background-color: #fff;
  cursor: pointer;
}

body {
  font-family: $mont-font;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}





