<div class="app__wrapper">
    <div class="container">
    <div class="app__wrapper-info">
    <h1 class="app__wrapper-info__header">
        Fork App
    </h1>
    <p class="app__wrapper-info__desc">
                    A Real Gamechanger In The World Of Web-Development
                </p>
    <p class="app__wrapper-info__platform">
                    v. 2.8 For Mac and Windows
                </p>
    </div>

    <div class="app__btn-wrapper">
        <button class="app__btn-wrapper-btn btn">Download For Free Now</button>
        <p class="app__btn-wrapper-btn_desc">
            Unlimited 30-Days Trial Period
        </p>
    </div>

    </div>


</div>