<div class="get">
    <div class="container">
        <h2 class="get__header"> &lt; Here is what you get &gt; </h2>
        <div class="get__data">
            <div class="get__item-wrapper">
                <div class="get__item">
                    <picture>
                        <source srcset="./img/wyg-icons/1.webp" type="image/webp">
                        <img class="get__item-icon" src="./img/wyg-icons/1.png" alt=""></picture>
                    <div class="get__item-info"><h3 class="get__item-heading"> Creatred to Make The Web Better </h3>
                        <div class="get__item-desc"> Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                            laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                        </div>
                    </div>
                </div>
                <div class="get__item">
                    <picture>
                        <source srcset="./img/wyg-icons/2.webp" type="image/webp">
                        <img class="get__item-icon" src="./img/wyg-icons/2.png" alt=""></picture>
                    <div class="get__item-info">
                        <div class="get__item-heading"> Incredibly Powerful Tool</div>
                        <div class="get__item-desc"> Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
                            Aliquam erat volutpat.
                        </div>
                    </div>
                </div>
                <div class="get__item">
                    <picture>
                        <source srcset="./img/wyg-icons/3.webp" type="image/webp">
                        <img class="get__item-icon" src="./img/wyg-icons/3.png" alt=""></picture>
                    <div class="get__item-info"><h3 class="get__item-heading"> Experimental Stuff </h3>
                        <div class="get__item-desc"> Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
                            Aliquam erat volutpat.
                        </div>
                    </div>
                </div>
                <div class="get__item">
                    <picture>
                        <source srcset="./img/wyg-icons/4.webp" type="image/webp">
                        <img class="get__item-icon" src="./img/wyg-icons/4.png" alt=""></picture>
                    <div class="get__item-info"><h3 class="get__item-heading"> Creatred to Make The Web Better </h3>
                        <div class="get__item-desc"> Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus.
                            Aliquam erat volutpat.
                        </div>
                    </div>
                </div>
            </div>
            <div class="get__image-data"><h2 class="get__image-data-header"> &lt; Here is what you get &gt; </h2>
                <picture>
                    <source srcset="./img/wyg-image.webp" type="image/webp">
                    <img class="get__img" src="./img/wyg-image.png" alt=""></picture>
            </div>
        </div>
    </div>
</div>