
<header class="header">
    <div class="container">
    <div class="header__wrapper">
        <div class="header__wrapper-logo">
            <img src="./img/logo.png" alt="">
            <span class="header__wrapper-logo-text">ForkIO</span>
        </div>



        <nav class="header__wrapper-menu">
                <a class="header__wrapper-menu-item" href="#">Overview</a></li>
                <a class="header__wrapper-menu-item" href="#">About Fork</a></li>
                <a class="header__wrapper-menu-item" href="#">Buying Options</a></li>
                <a class="header__wrapper-menu-item" href="#">Support</a></li>
        </nav>

        <button class="header__wrapper-button_buy btn">Buy Now</button>
        @@include('_burger.html')
    </div>
    </div>
</header>