<div class="pricing">
    <div class="container">
        <h2 class="pricing__heading"> Fork Subscription Pricing </h2>
        <div class="pricing__wrapper">
            <div class="pricing__item"><h3 class="pricing__item-heading"> Students </h3>
                <div class="pricing__item-price"> $29</div>
                <div class="pricing__item-time"> PER Month</div>
                <div class="pricing__item-desc"> Personal License</div>
                <button class="pricing__purchase">Purchase</button>
            </div>
            <div class="pricing__item"><h3 class="pricing__item-heading"> professional </h3>
                <div class="pricing__item-price"> $59</div>
                <div class="pricing__item-time"> PER Month</div>
                <div class="pricing__item-desc"> Professional License Email Support</div>
                <button class="pricing__purchase">Purchase</button>
            </div>
            <div class="pricing__item pricing__item active"><h3 class="pricing__item-heading"> agency </h3>
                <div class="pricing__item-price"> $99</div>
                <div class="pricing__item-time"> PER Month</div>
                <div class="pricing__item-desc"> 1-12 Team Members Phone Support</div>
                <button class="pricing__purchase">Purchase</button>
            </div>
            <div class="pricing__item"><h3 class="pricing__item-heading"> enterprise </h3>
                <div class="pricing__item-price"> $159</div>
                <div class="pricing__item-time"> PER Month</div>
                <div class="pricing__item-desc"> Unlimited Team Members <br> 24/ 7 Phone Support</div>
                <button class="pricing__purchase">Purchase</button>
            </div>
        </div>
    </div>
</div>